*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
a{
	color: #666;
	text-decoration:none;
}
.l{
	float: left;
}
.r{
	float: right;
}
.center{
	width: 9.466667rem /* 710/75 */;
	margin: 0 auto
}
img{
	display: block;
}